<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="https://use.fontawesome.com/ee996d3f32.js"></script>
  </head>
  <body>
    <div id="main">
      <!--<div id="subs" class="col">
        Subs
      </div>-->
      <div id="catalog" class="col">
        <div class="post-item" v-for="post in posts" v-bind:class="{'selected':$index==selected_index}">
          <div class="post-main">
            <div class="post-subscribe-name">
              /r/{{ post.subreddit.display_name }}
            </div>
            <a class="post-title" href="#" v-on:click="openPost($index)">
              {{ post.title }}
            </a>
          </div>
          <div class="post-annotation">
            <div class="post-url">
              From: {{ post.url }}
            </div>
            <div class="post-author">
              <!-- Submmited by <span class="author-name">{{ post.author.name }}</span> at {{new Date(post.created_utc * 1000).toLocaleString()}} -->
            </div>
            <div class="post-buttom">
              <div class="post-ops">
                <a class="fa fa-thumbs-up" v-bind:class="{'done':post.likes}" href="#" v-on:click="upvote($index)"></a>
                <span class="fa fa-thumbs-down" v-bind:class="{'done':post.likes===false}"></span>
                <span class="fa fa-bookmark"></span>
                <span class="fa fa-trash"></span>
              </div>
              <div class="post-stats">
                <span class="fa fa-comment"></span>{{ post.num_comments }}
                <span class="fa fa-star"></span>{{ post.score }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="article" class="col" v-bind:class="{'webview-hidden':hidePost}">
        <webview id="web" src="loading.html"></webview>
      </div>
      <div id="comments" class="col">
        <div class="comment-item" v-for="comment in comments">
          <div class="comment-body"> {{{comment.body_html}}} </div>
          <div class="post-author">
            Submitted by {{comment.author.name}} at {{new Date(post.created_utc * 1000).toLocaleString()}}
          </div>
          <div class="post-buttom">
            <div class="post-ops">
              <span class="fa fa-thumbs-up"></span>
              <span class="fa fa-thumbs-down"></span>
            </div>
            <div class="post-stats">
              <span class="fa fa-star"></span>{{ comment.ups }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    require('./renderer.js')
  </script>

</html>
