
html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

#main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.post-item {
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.col {
  height: 98%;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

#catalog {
  flex-direction: column;
  width: 38%;
  background-color: rgb(234, 234, 234);
}

#article {
  width: 60%;
}

webview {
  width: 100%;
}

.post-title {
  font-size: 24px;
}

.post-url {
  color: gray;
}

.post-buttom {
  display: flex;
  flex-direction: row;
}

.post-item * {
  margin: 4px;
}
