
html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(220, 220, 220);
}

a {
  text-decoration: none;
  color: inherit;
}

#main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.post-item {
  padding: 8px;
  background-color: white;
  border-radius: 2px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col {
  height: 98%;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 5px;
}

#catalog {
  flex-direction: column;
  padding: 5px;
  width: 38%;
}

#article {
  width: 60%;
}

webview {
  width: 100%;
}

.webview-hidden {
  flex: 0 1;
  width: 0px;
  height: 0px;
}

.post-title {
  font-size: 24px;
  border-bottom-style: groove;
  border-bottom-width: 0.5px;
  padding-bottom: 20px;
}

.post-url {
  color: gray;
  padding-top: 20px;
}

.post-buttom {
  display: flex;
  flex-direction: row;
}

.post-buttom * {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: gray;
}

.post-item * {
  margin: 8px;
}

#catalog .selected {
}
